<div class="modal fade" id="modCrearSeccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Crear Sección</h4>
            </div>
            <div class="modal-body">
                <div class="row margin-bottom10">
                    <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 10px;">
                        Nombre:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <input type="text" id="txtNombreSeccion" class="form-control" />
                    </div>
                </div>
                <div class="row  margin-bottom10">
                    <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 10px;">
                        Color:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div id="seccion-color-picker" class="input-group colorpicker-component">
                            <input type="text" id="txtColorSeccion" value="#00AABB" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn_primary" id="btnGuardarNuevaSeccion">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
