<input type="hidden" id="idComponente_Prerrequisito"/>
<input type="hidden" id="idSociedad_Prerrequisito" />
<div class="modal fade" id="modPrerrequisito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Selecion de prerrequisitos</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idcomponente" />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="prerrequisitoContenido">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn_primary" id="btnGuardarPrerrequisito">Guardar</button>
            </div>
        </div>
    </div>
</div>