<input type="hidden" id="idComponente_UC"/>
<input type="hidden" id="idSociedad_UC" />
<div class="modal fade" id="modSelecionarUC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Selecionar Unidades Curriculares</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idcomponente" />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="ucContenido">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <input type="hidden" id="click_select"/>
                <button class="btn btn_primary" id="btnSelecionarUC">Selecionar</button>
            </div>
        </div>
    </div>
</div>