@model System.Web.Mvc.HandleErrorInfo
<link href="@Url.Content("~/Content/custom/malla.css")" rel="stylesheet">
<div class="modal fade" id="modErrorMalla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                <div class="row margin-bottom10">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p class="text-danger">Error.@Model.Exception.Message</p>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@Html.ActionLink("Atras", @Model.ActionName, @Model.ControllerName)