.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-bottom15 {
    margin-bottom: 15px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-right10 {
    margin-right: 10px !important;
}

.margin-left10 {
    margin-left: 10px !important;
}

